# Salin menjadi .env lalu isi nilainya.
SIMAN_BASE_URL=https://apigateway.kemenkeu.go.id
SIMAN_TOKEN_URL=https://sso.kemenkeu.go.id/connect/token
SIMAN_CLIENT_ID=
SIMAN_CLIENT_SECRET=
SIMAN_GRANT_TYPE=client_credentials
SIMAN_BA_KEY=
# SIMAN_DATA_DIR=data
